asgiref
backports.zoneinfo
certifi
charset-normalizer
coreapi
coreschema
Django
django-db
django-rest-framework
djangorestframework
drf-yasg
exceptiongroup
idna
inflection
iniconfig
itypes
Jinja2
MarkupSafe
mock
packaging
pluggy
PyMySQL
pytest
pytest-django
pytz
PyYAML
requests
sqlparse
tomli
typing-extensions
uritemplate
urllib3